@page "/relatorio"
@using Database.Repositorios
@using Negocio.Entidades;

<h3>Relatorio de Pedidos</h3>

@if (listaProduto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in listaProduto)
            {
                <tr>
                    <td>@produto.Codigo.ToString()</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco.ToString("C")</td>
                    <td>@produto.Estoque</td>
                    <td>@produto.Categoria</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    ProdutoRepository produtoRepository = new ProdutoRepository();
    private List<Produto> listaProduto = new List<Produto>();

    protected override void OnInitialized()
    {
        var relatorioEstoque = produtoRepository.ObterRelatorioEstoque();
        listaProduto = relatorioEstoque;
        base.OnInitialized();
    }
}
